
header{
    text-align: center;
    padding: 5px;
    margin: 10px;   
}
nav{
    background-color: gray;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
}
nav a{
    color: white;
}
div{
    text-align: center;
}

body{
    background-color: bisque;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    text-align: justify;
}

footer{
    text-align: center;
    background-color: gray;
    padding: 5px;
    margin: 10px;
}

p2{
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  


form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.imagemass{
   display: flex;
   gap: 30px;
   max-width: 100%;
   height: auto;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
   margin-top: 50px;
}
